cachetools==6.2.0 ; python_version >= "3.11" and python_version < "4.0"
cfgv==3.4.0 ; python_version >= "3.11" and python_version < "4.0"
chardet==5.2.0 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0"
distlib==0.4.0 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.19.1 ; python_version >= "3.11" and python_version < "4.0"
identify==2.6.13 ; python_version >= "3.11" and python_version < "4.0"
lizard==1.17.31 ; python_version >= "3.11" and python_version < "4.0"
mando==0.7.1 ; python_version >= "3.11" and python_version < "4.0"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
mypy==1.17.1 ; python_version >= "3.11" and python_version < "4.0"
nodeenv==1.9.1 ; python_version >= "3.11" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.11" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==4.3.8 ; python_version >= "3.11" and python_version < "4.0"
pluggy==1.6.0 ; python_version >= "3.11" and python_version < "4.0"
pre-commit==4.3.0 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.19.2 ; python_version >= "3.11" and python_version < "4.0"
pyproject-api==1.9.1 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "4.0"
radon==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
ruff==0.8.6 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
tox==4.28.4 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "4.0"
unitsnet-py==0.1.154 ; python_version >= "3.11" and python_version < "4.0"
virtualenv==20.34.0 ; python_version >= "3.11" and python_version < "4.0"
