aiofiles==25.1.0 ; python_version >= "3.11" and python_version < "4.0"
aiomqtt==2.5.1 ; python_version >= "3.11" and python_version < "4.0"
aiosqlite==0.22.1 ; python_version >= "3.11" and python_version < "4.0"
asyncua==1.1.6 ; python_version >= "3.11" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.11" and python_version < "4.0" and platform_python_implementation != "PyPy"
cryptography==48.0.0 ; python_version >= "3.11" and python_version < "4.0"
msgpack==1.1.2 ; python_version >= "3.11" and python_version < "4.0"
paho-mqtt==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
pycparser==3.0 ; python_version >= "3.11" and python_version < "4.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pyopenssl==26.2.0 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
pytz==2026.2 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
sortedcontainers==2.4.0 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "4.0"
unitsnet-py==0.1.154 ; python_version >= "3.11" and python_version < "4.0"
wait-for2==0.3.2 ; python_version >= "3.11" and python_version < "3.12"
